html {
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

header img {
  height: 100px;
  width: auto;
  border-radius: 100px;
  border: solid;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav li {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25 rem;
  margin: 10px;
  list-style: none;
  background-color: #cecece;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
}

nav li:hover {
  box-shadow: 2px 2px black;
}

nav #subscribe {
  border: solid 2px black;
  font-weight: bolder;
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  font-weight: bolder;
  border: solid 2px black;
  background-color: white;
  border-radius: 10px;
}

button:hover {
  box-shadow: 2px 2px black;
  cursor: pointer;
}

button:active {
  box-shadow: 0px 0px black;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}

#hero {
  background-image: url("climbing gym.jpg");
  background-size: cover;
  width: auto;
  height: 600px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

#hero h1,
#hero h4 {
  background-color: white;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  border: solid;
}

#hero button {
  width: 30%;
  height: auto;
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

#how-it-works {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url("mountains.jpg");
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#how-it-works h2 {
  font-weight: bolder;
}

#white-box {
  background-color: white;
  padding: 25px;
  border: solid;
  width: 70%;
}

#in-the-box {
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("wall colors.jpg");
  background-size: cover;
  height: 800px;
  padding-top: 5%;
  padding-bottom: 5%;
}

#in-the-box h1,
#in-the-box h4 {
  background-color: white;
  padding: 10px;
  border: solid;
}

#testimonials {
  padding-left: 5%;
  padding-right: 5%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#newsletter {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#newsletter form {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#newsletter input {
  border: solid 2px black;
  padding-left: 10px;
  height: 26px;
  width: 250px;
  border-radius: 10px;
  margin-right: 10px;
}

::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}

.card {
  border: solid;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 25px;
  box-shadow: 2px 2px black;
}

.card h3,
.card p {
  background-color: white;
  padding: 10px;
}

#chalk {
  background-image: url("chalk.jpg");
  background-size: cover;
}

#salve {
  background-image: url("salve.jpg");
  background-size: cover;
}

#tape {
  background-image: url("tape.jpg");
  background-size: cover;
}

#hangboard {
  background-image: url("hangboard.jpg");
  background-size: cover;
}

#snack {
  background-image: url("snack.jpg");
  background-size: cover;
}

#carabiner {
  background-image: url("carabiner.jpg");
  background-size: cover;
}

.testimonial {
  border: solid;
  padding: 10px;
  font-style: italic;
  width: 60%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  border-top: solid;
}

footer h3 {
  font-weight: bolder;
  font-size: 1.25rem;
}

footer ul {
  font-weight: lighter;
}

footer ul {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
}

footer a:hover {
  text-decoration: underline;
}
